.box {
    width: 200px;
    height: 100px;
    background: #594B3B;
    border: 1px solid #000;
    margin: 2px 0;
    position: relative;
}

.box-text { 
    padding: 5px;
    color: #fff;
    font-size: 1.04em;
}

.box-container {
  width: 100%;
  min-height: 100px;
  border: 1px solid #9a7070;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  position: relative;
}

.row-number {
    position: absolute;
    top: 2px;
    left: 20px;
}

.column-number {
    position: absolute;
    bottom: 0;
    right: 5px;
    color: #ddd;
    font-size: 0.8em;
}