.zen-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

.zen-wrapper {
    padding: 40px 15px;
    text-align: center;
}

.zen-header {
    color: #7d3838;
}

.zen-body-container {
    margin-bottom: 30px;
    color: inherit;
    padding: 48px 60px 48px 60px;
    border: 1px solid #000;
    border-radius: 12px;
    background: #eee;
}

.zen-box-flex {
    display: flex;
    flex-flow: column;
  }
