
.zen-input-flex  {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}

input.zen-input {
    padding: .35rem 1rem;
    font-size: .8rem;
    background: #fff;
    border: 1px solid #000;
    outline: 0;
    min-width: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #000;
    padding: .75rem 2.5rem .75rem 1.5rem;
    border-radius: 27px;
}